@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-img{
    height: 75px;    
}

.cabecalho-menu{
    display: flex;
    gap: 30px;
}

.cabecalho-menu-item{
    font-family: 'Montserrat', sans-serif;
    color: #fff2ef;
}

.conteudo-principal{
    display: flex;
    flex-direction:row;
    gap: 100px;
    margin-bottom: 150px;
}
.conteudo-principal h3{
    color: #fc7d23;
    font-size: 20px;
    text-align: center;
}
.conteudo-principal-esq{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    width: 75%;
    padding: 20px;
    font-weight: 400;
    font-size: 34px;
    color: #ecd6c4;
}
.conteudo-img{
    height: 305px;
    padding: 20px;
}

.conteudo-principal-dir{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0 rgba(50, 50, 50, 0.22);
    margin: 20px;
    padding: 20px;
    background: #263979;
    width: 50%;
    font-weight: 400;
    font-size: 24px;
    color: #ecd6c4;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.conteudo-principal-dir:hover{
    transform: translateY(-15px);
    cursor: pointer;
}
body{
    font-size: 100%;
    background-image:linear-gradient(to right, #3d6868, #39676a, #35656c,
     #31646e, #2f6270, #2f6270, #2f6270, #2f6270, #31646e, #35656c,
      #39676a, #3d6868);
}