@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-img{
    height: 75px;    
}

.cabecalho-menu{
    display: flex;
    gap: 30px;
}

.cabecalho-menu-item{
    font-family: 'Montserrat', sans-serif;
}


body{
    font-size: 100%;
    background-image: linear-gradient(to right, #2d6073, #3b7986, #4f9397, 
    #68aca6, #86c6b3, #86c6b3, #86c6b3, #86c6b3, #68aca6, #4f9397, #3b7986, #2d6073);
}